body {
  background-color: #fcfaf7;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4em;
}

#info {
    max-width: 600px;
    padding: 0px;
    margin: 10px auto;
}

h1 {
    font-family: "Montserrat Subrayada", cursive;
    text-align: center;
}


#info h2 {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 0px;
}

#howTo {
    list-style-type: none;
    line-height: 1.4em;
}

.buttons {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px auto;
}

button {
    background-color: #A0A8FF;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 10px 10px 10px 10px;
}

button:hover {
        box-shadow: 5px 5px 5px #888888;
        text-decoration: underline;
}

button:active {
    background-color: #567798;
}

#start {
    background-color: #8DB252;
}

#start:active {
    background-color: #729368;
}

#reset {
    background-color: #FF0000;
}

#reset:active {
    background-color: #870000;
}

.sizes {
    display: none;
}

.grid {
    display: none;
}

#container {
    width: 600px;
    height: 600px;
    background-color: white;
    outline: 1px solid #000;
    margin: 30px auto;
    padding: 0;
} 

.square {
    background-color: white;
    display: inline-block;
    float: left;
    
}

.square:hover {
    background-color: #ECE8E7;
}

#black {
    background-color: #3B3738;
}

#black:active {
    background-color: black;
}

#purple {
    background-color: #9A6BAB;
}

#purple:active {
    background-color: #57395B;
}

#blue {
    background-color: #0DB9C7;
}

#blue:active {
    background-color: #6A9BC4;
}

#green {
    background-color: #92C560;
}

#green:active {
    background-color: #729368;
}

#eraser {
    background-color: #C3C3B2;
}

#eraser:active {
    background-color: #928E92;
}



